doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title Catico
		include favicon.html
		link(rel="stylesheet", type="text/css", href="style.css")
	body
		.loader
			.loader_bg
				.loader_circle
			img.loader_img(src='img/ball-triangle.svg')
		include vectors.svg
		.wrapper
			include menu.pug
			.logo.desktop
				.logo_wrapper
					include logo.svg
			main.main
				.logo.mobile
					.logo_wrapper
						include logo.svg
				section.section.intro#sec0
					.intro_bg
						.intro_bgImg.base
						.intro_bgImg.top
						.intro_bgImg.top
					.intro_text
						h1.intro_title Catico
						//- .intro_border
						.intro_subtitle full stack web development
					a(href="#sec1").intro_link projects
						.intro_arrows
							//- svg.intro_arrow
							//- 	use(xlink:href="#arrow")
							//- svg.intro_arrow
							//- 	use(xlink:href="#arrow")
							//- svg.intro_arrow
							//- 	use(xlink:href="#arrow")
							.intro_arrow
							.intro_arrow
							.intro_arrow
				section.section.proj#sec1
					ul.proj_list
						li
							//- .proj_imgs
							//- 	img(src='img/projects/calc.png')
							.proj_img(style="background-image: url('img/projects/proj1.png')")
							.proj_overlay
								.proj_title Calculator
								.proj_descr Javascript calculator
								.proj_links
									a(href="calculator", target="_blank").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="http://codepen.io/catico/full/BjzzrQ/", target="_blank").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="https://github.com/CATlCO/calculator", target="_blank").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #js #jquery
						li
							.proj_imgs
								img.single(src='img/projects/rqm.png', alt="Random quote machine")
							.proj_overlay
								.proj_title Quote machine
								.proj_descr Generator of random quotes.
								.proj_links
									a(href="quotemachine", target="_blank").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="http://codepen.io/catico/full/obzWZw/", target="_blank").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="https://github.com/CATlCO/quotemachine", target="_blank").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #js #jquery #api
						li
							.proj_imgs
								img.single(src='img/projects/proj3.png', alt="Markdown previewer")
							.proj_overlay
								.proj_title Markdown previewer
								.proj_descr Markdown previewer in React
								.proj_links
									a(href="react-markdown", target="_blank").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="http://codepen.io/catico/full/pbdNdB/", target="_blank").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="https://github.com/CATlCO/react-markdown", target="_blank").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #sass #react
						li
							.proj_imgs
								.double
									img(src='img/projects/pom1.png', alt="Pomoro app - work")
									img(src='img/projects/pom2.png', alt="Pomoro app - break")
							//- .proj_img(style="background-image: url('img/projects/proj4.png')")
							.proj_overlay
								.proj_title Pomodoro
								.proj_descr Pomodoro timer in Javascript.
								.proj_links
									a(href="pomodoro").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="http://codepen.io/catico/full/QygLMg/", target="_blank").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="https://github.com/CATlCO/pomodoro", target="_blank").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #js #jquery
						li
							.proj_imgs
								img.single(src='img/projects/proj6.png', alt="Facebook clone")
							.proj_overlay
								.proj_title Facebook clone
								.proj_descr Simple clone of Facebook with basic functionality built in Ruby on Rails.
								.proj_links
									a(href="http://odinfacebook.herokuapp.com", target="_blank").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="https://github.com/CATlCO/odin_facebook", target="_blank").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #bootstrap #css #sass #ruby #rails
						li
							.proj_imgs
								img.single(src='img/projects/votex.png', alt="Votex app")
							.proj_overlay
								.proj_title Votex
								.proj_descr Application for creating polls.
								.proj_links
									a(href="http://votexapp.herokuapp.com/", target="_blank").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="https://github.com/CATlCO/votingapp", target="_blank").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #sass #js #nodejs #heroku #mongodb
				section.section.skills#sec2
					.skills_left
						h2.skills_title Skills
						ul.skills_list
							li design
							li development
							li ui / ux
							li responsivity
							li cross-browser compatibility
							li mobile / desktop
					//- .skills
						//- h2.skills_title Skills
						//- ul.skills_list
						//- 	li design
						//- 	li development
						//- 	li ui / ux
						//- 	li responsivity
						//- 	li cross-browser compatibility
						//- 	li mobile / desktop
					.skills_right
						ul.skills_icons.shadow
							li.layer(data-level="0.5")
								i.skills_icon.devicon-inkscape-plain-wordmark
							li.layer(data-level="0.1")
								i.skills_icon.devicon-mysql-plain-wordmark
							li.layer(data-level="0.9")
								i.skills_icon.devicon-github-plain-wordmark
							li.layer(data-level="0.5")
								i.skills_icon.devicon-ruby-plain-wordmark
							li.layer(data-level="0.9")
								i.skills_icon.devicon-css3-plain-wordmark
							li.layer(data-level="0.1")
								i.skills_icon.devicon-photoshop-plain
							li.layer(data-level="0.9")
								i.skills_icon.devicon-jquery-plain-wordmark
							li.layer(data-level="0.5")
								i.skills_icon.devicon-bootstrap-plain-wordmark
							li.layer(data-level="0.1")
								i.skills_icon.devicon-grunt-plain-wordmark
							li.layer(data-level="0.5")
								i.skills_icon.devicon-heroku-plain-wordmark
							li.layer(data-level="0.9")
								i.skills_icon.devicon-sass-plain
							li.layer(data-level="0.5")
								i.skills_icon.devicon-gulp-plain
							li.layer(data-level="0.9")
								i.skills_icon.devicon-javascript-plain
							li.layer(data-level="0.1")
								i.skills_icon.devicon-react-plain-wordmark
							li.layer(data-level="0.9")
								i.skills_icon.devicon-html5-plain-wordmark
							li.layer(data-level="0.1")
								i.skills_icon.devicon-nodejs-plain-wordmark
							li.layer(data-level="0.9")
								i.skills_icon.devicon-git-plain-wordmark
							li.layer(data-level="0.1")
								i.skills_icon.devicon-mongodb-plain-wordmark
							li.layer(data-level="0.5")
								i.skills_icon.devicon-less-plain-wordmark
							li.layer(data-level="0.9")
								i.skills_icon.devicon-bitbucket-plain-wordmark
							li.layer(data-level="0.1")
								i.skills_icon.devicon-rails-plain-wordmark
							li.layer(data-level="0.5")
								i.skills_icon
									.skills_iconsvg
										svg
											use(xlink:href="#greensock")
						ul.skills_icons#icons
							li.layer(data-level="0.6")
								i.skills_icon.devicon-inkscape-plain-wordmark
							li.layer(data-level="0.2")
								i.skills_icon.devicon-mysql-plain-wordmark
							li.layer(data-level="1")
								i.skills_icon.devicon-github-plain-wordmark
							li.layer(data-level="0.6")
								i.skills_icon.devicon-ruby-plain-wordmark
							li.layer(data-level="1")
								i.skills_icon.devicon-css3-plain-wordmark
							li.layer(data-level="0.2")
								i.skills_icon.devicon-photoshop-plain
							li.layer(data-level="1")
								i.skills_icon.devicon-jquery-plain-wordmark
							li.layer(data-level="0.6")
								i.skills_icon.devicon-bootstrap-plain-wordmark
							li.layer(data-level="0.2")
								i.skills_icon.devicon-grunt-plain-wordmark
							li.layer(data-level="0.6")
								i.skills_icon.devicon-heroku-plain-wordmark
							li.layer(data-level="1")
								i.skills_icon.devicon-sass-plain
							li.layer(data-level="0.6")
								i.skills_icon.devicon-gulp-plain
							li.layer(data-level="1")
								i.skills_icon.devicon-javascript-plain
							li.layer(data-level="0.2")
								i.skills_icon.devicon-react-plain-wordmark
							li.layer(data-level="1")
								i.skills_icon.devicon-html5-plain-wordmark
							li.layer(data-level="0.2")
								i.skills_icon.devicon-nodejs-plain-wordmark
							li.layer(data-level="1")
								i.skills_icon.devicon-git-plain-wordmark
							li.layer(data-level="0.2")
								i.skills_icon.devicon-mongodb-plain-wordmark
							li.layer(data-level="0.6")
								i.skills_icon.devicon-less-plain-wordmark
							li.layer(data-level="1")
								i.skills_icon.devicon-bitbucket-plain-wordmark
							li.layer(data-level="0.2")
								i.skills_icon.devicon-rails-plain-wordmark
							li.layer(data-level="0.6")
								i.skills_icon
									.skills_iconsvg
										svg
											use(xlink:href="#greensock")
				section.section.contact#sec3
					.contact_left
						.contact_icons
							h2.contact_title Get in touch
							.icons
								a.icons_el(href="https://github.com/CATlCO", target="_blank")
									.icons_icon
										svg
											use(xlink:href="#github")
									h3.icons_title Checkout my code at 
										span Github
								a.icons_el(href="http://codepen.io/catico/", target="_blank")
									.icons_icon
										svg
											use(xlink:href="#codepen")
									h3.icons_title See my other projects at 
										span Codepen
								a.icons_el(href="mailto:hello@catico.xyz")
									.icons_icon
										svg
											use(xlink:href="#email")
									h3.icons_title Say hi at 
										span hello@catico.xyz
					.contact_right
						.contact_form
							.contact_overlay Thank you! I'll be in touch soon.
							form#contact_form(autocomplete="off", novalidate)
								span.contact_input
									input.contact_field#input-1(type="text", name="name", required)
									.contact_error(data-name="name") Please provide your name
									label.contact_label(for="input-1")
										svg.contact_border
											use(xlink:href="#input")
										span.contact_labelName Name
								span.contact_input
									input.contact_field#input-2(type="email", name="_reply_to", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required)
									.contact_error(data-name="_reply_to") Please provide a valid email address
									label.contact_label(for="input-2")
										svg.contact_border
											use(xlink:href="#input")
										span.contact_labelName Email
								span.contact_input
									textarea.contact_field.contact_msg#input-3(name="message", required)
									.contact_error(data-name="message") Please provide a message
									label.contact_label(for="input-3")
										svg.contact_border.msg
											use(xlink:href="#textarea")
										span.contact_labelName Message
								button.contact_submit(type="submit") 
									span Send
					.contact_cp Copyright 2016 Catico. All rights reserved.
		script(src="script.js")
