.menu
	.menu_wrapper
		button.menu_opener
			.menu_main
				.menu_burger
					span
		ul.menu_items
			li.menu_item.active
				a(href="", title="Home").menu_btn
					i.menu_icon
						svg
							use(xlink:href="#home")
			li.menu_item
				a(href="", title="Projects").menu_btn
					i.menu_icon
						svg
							use(xlink:href="#work")
			li.menu_item
				a(href="", title="Skills").menu_btn
					i.menu_icon
						svg
							use(xlink:href="#skills")
			li.menu_item
				a(href="", title="Contact").menu_btn
					i.menu_icon
						svg
							use(xlink:href="#contact")