.logo{
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 90%;

	&_wrapper{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	svg{
		overflow: visible;
		stroke-opacity: 0.3;
		width: 100px;
		height: 100px;
		fill: $bg;
		stroke: $bg;
	}

	path{
		opacity: 0;
	}

	.black{
		fill-opacity: 0.9;
	}

	.white{
		fill-opacity: 0.03;
		stroke-opacity: 0;
	}

	.gray-dark{
		fill-opacity: 0.3;
		stroke-opacity: 0;
	}

	.gray-light{
		fill-opacity: 0.1;
		stroke-opacity: 0;
	}

	svg, svg * {
		pointer-events: none;
	}

	&.main{

		.logo_wrapper{
		top: 15%;
		transform: translateX(-50%);

			&:hover{
				padding: 0 50%;
			}
		}

		svg{
			width: 41vh;
			height: 41vh;
			fill: url(.#g443);
			stroke: url(.#g443);
		}
	}
}

@media screen and (max-width: $mobile), screen and (max-height: $minHeight){
	.logo.main{
		width: auto;
		height: auto;
		top: 15%;
		position: relative;

		&_wrapper{
			top: 10%;

			&:hover{
				padding: 0;
			}
		}

		svg{
			min-height: 200px;
			min-width: 200px;
		}
	}
}