.skills{
	background-color: $skill-bg;
	text-align: right;
	font-size: 0;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(img/polygon.jpg) center / cover no-repeat;
		opacity: 0.3;
	}

	&_right,
	&_left{
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}

	&_right{
		width: 60%;
		text-align: right;
		position: relative;
	}

	&_left{
		background-color: $section-left;
		transform: skewX(-#{$skew}deg);
		position: relative;
		width: 40%;
		text-align: right;
		padding: 80px 40px 0 0;
		// padding: 12vh 40px 0 0;
		z-index: 1;
	}

	&_title{
		color: $skill-title;
		font-family: 'Wire One';
		font-size: 100px;
		// font-size: 15vh;
		margin-bottom: 40px;
		// margin-bottom: 5vh;
		transform: skewX(#{$skew}deg);
	}

	&_list{
		margin-top: 50px;
		margin-left: 10px;
		// margin: 7vh 0 0 1vh;

		li{
			color: $icon-text;
			font-size: 30px;
			// font-size: 4.5vmin;
			margin-bottom: 20px;
			// margin-bottom: 3vh;
			font-weight: 200;
			transform: skewX(#{$skew}deg);
		}
	}

	&_icons{
		color: $skill-col;
		transform: translate3d(0, 0, 0);
		transform-style: preserve-3d;
		backface-visibility: hidden;
		padding: 20px;

		li{
			display: inline-block;
			height: 25vh;
			position: relative;
			transform-style: preserve-3d;
			backface-visibility: hidden;

			&:nth-of-type(1){
				margin-left: 15%;
			}

			&:nth-of-type(4){
				margin-right: 15%;
			}

			&:nth-of-type(5){
				margin-left: 10%;
			}

			&:nth-of-type(10){
				margin-left: 7%;
			}

			&:nth-of-type(-n+4){
				width: 17%;
			}

			&:nth-of-type(n+5):nth-of-type(-n+9){
				width: 18%;
			}

			&:nth-of-type(n+10):nth-of-type(-n+15){
				width: 15.5%;
			}

			&:nth-of-type(n+16):nth-of-type(-n+22){
				width: 14.28%;
			}
		}

		&.shadow{
			color: $skill-shadow;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			// z-index: -1;
			opacity: 0.4;

			.skills_iconsvg svg{
				fill: $skill-shadow;
			}
		}
	}

	&_icon{
		font-size: 11vmin;
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&_iconsvg{
		display: inline-block;
		width: 11vmin;
		height: 11vmin;

		svg{
			width: 100%;
			height: 100%;
			fill: $skill-col;
		}
	}
}

@media screen and (max-height: 650px) and (min-width: $mobile){
	.skills{
		display: table;
		width: 100%;

		&_list {
			margin: 20px 0 50px;

			li{
				font-size: 28px;
			}
		} 
		

		&_left,
		&_right{
			display: table-cell;
		}

		&_left{
			padding-top: 40px;
		}

		&_icons{
			position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    right: 0;
		}

		&_icons li {
			height: 25%;
		}

		&_icon{
			font-size: 60px;
		}

		&_iconsvg{
			width: 60px;
			height: 60px;
		}
	}
}

@media screen and (max-width: $mobile){
	.skills{

		&_left,
		&_right{
			width: 100%;
			padding: 0;
		}

		&_right{
			text-align: center;
		}

		&_left{
			transform: skewY(-10deg);
			transform-origin: top left;
			text-align: left;
			padding: 50px 0 0 20px;

			li{
				font-size: 23px;
			}
		}

		&_title,
		&_list{
			margin: 20px 0 20px;
		}

		&_title, &_list li{
			transform: skewY(10deg);
		}

		&_icons{
			color: $skill-col;
			padding: 0;

			li{
				display: inline-block;
				height: 20vh;
				position: relative;

				&:nth-of-type(n){
					margin: 0;
					width: 16.6%;
				}
			}
		}

		&_icon{
			font-size: 13vmin;
		}

		&_iconsvg{
			width: 13vmin;
			height: 13vmin;
		}
	}
}